<%- include("partials/header")-%>


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/f0bb2fa622.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="tictactoe.css">
</head>
<body>
<h1 style="margin-top: 10px; padding-bottom: 30px; padding-top: 30px; background-color: #c9866d;">GAME-TIME</h1>




<link rel="stylesheet" type="text/css" href="ttt.css">

<div class="container text-center">
    <div class="center">
        <h2 class="mb-3">What would you like to play today?</h2 class="mb-3">
		<!-- <a href="/multi" class="mr-5"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4NwRl_NAwTctzjYphHO3EF6AYAnY_8L9K8eIZKXQkRSELwq_3"> </a> -->
		<a href="/rps"><img class="img" src="https://static.vecteezy.com/system/resources/previews/000/691/497/original/rock-paper-scissors-neon-icons-vector.jpg"></a>
        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4NwRl_NAwTctzjYphHO3EF6AYAnY_8L9K8eIZKXQkRSELwq_3"> -->

       
    <!-- </div>
	<div class="center">
		 -->
		<!-- <a href="/multi" class="mr-5"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4NwRl_NAwTctzjYphHO3EF6AYAnY_8L9K8eIZKXQkRSELwq_3"> </a>
		<a href="/single"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQC8Q69JfzmbrCVHY4HlzAzQC_EmB-yy7lOBeuufutOBOM4X-Qi"></a> -->
        <a href="/ttt">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4NwRl_NAwTctzjYphHO3EF6AYAnY_8L9K8eIZKXQkRSELwq_3">
        </a> 
       
    </div>
    <!-- <div class="center" style="padding-top: 30px;">
		
            <a href="/multi"><button type="button" class="btn btn-primary">Multi-Player</button></a>
            <a href="/single"><button type="button" class="btn btn-success">Single-Player</button></a>
            <!-- <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success">Success</button> 
    </div> -->
</div>

<%- include("partials/footer") -%>